extends layout

block content
  h1= title
  p YouTube Downloader is a simple web application that allows you to download videos from YouTube.
  h2 Features
  ul
    li Download YouTube videos in MP4 format
    li Simple and easy-to-use interface
    li Fast and reliable downloads
  h2 How to Use
  ol
    li Paste the YouTube URL in the input field
    li Click the "Download" button
    li Your video will start downloading automatically
