extends layout

block content
  h1= title
  p Thank you for using YouTube Downloader!
  h2 Contact Information
  p Email: contact@youtubedownloader.com
  p GitHub: 
    a(href='https://github.com') Visit our GitHub
  h2 Feedback
  p If you have any questions or feedback, please feel free to reach out to us.
  p
    a(href='/') Back to Home
